---
import '../styles/styles.css';
import axios from 'axios';
import NavBar from '../components/NavBar.astro';

const bibleVerse = await axios.get('https://bible-api.com/data/web/random');
const verse = await bibleVerse.data.random_verse;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
		<title> RCCG Teens</title>
	</head>
	<body>
		<main>
			<section class="main-section">
				<NavBar />
				<div class="hero-section">
					<div class="hero-bible-section">
						<span class="main-quote"><img src="/quote.svg" class="quote"><h1 class="hero-text"> { verse.text } </h1><img src="/quote.svg" class="quote"></span>
						<p class="hero-book"> { verse.book } { verse.chapter }:{ verse.verse } </p>
					</div>
				</div>
			</section>
		</main>
		<script type="module" src="/scripts/index.js"></script>
	</body>
</html>
