---
import '../styles/styles.css';
import "../styles/open-heavens.css";
import NavBar from '../components/NavBar.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
		<title> Open Heavens</title>
    </head>
    <body>
        <main>
            <NavBar />
            <section class="page-content">
                <div>
                    <h1>Open Heavens</h1>
                </div>
                <section class="text-area">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam molestiae nisi odio molestias atque quas cumque doloribus perspiciatis rem laborum necessitatibus fuga ea suscipit incidunt, officiis ducimus animi deleniti magnam nesciunt ad dignissimos, ut omnis ipsa? Minima illum saepe consequatur non atque omnis dignissimos cumque inventore modi reiciendis maxime excepturi sed sunt animi voluptatem aliquid sit, eum ipsum optio eveniet eaque autem distinctio accusamus quibusdam? Impedit vero et, a nobis omnis aspernatur asperiores tempore exercitationem esse fugit, dignissimos, doloribus amet magnam ut laboriosam consequatur veritatis repellendus officiis. Ut similique, eligendi est dolorem eum veniam recusandae eius neque necessitatibus vel vitae numquam obcaecati quaerat nostrum totam aperiam a nihil! Non et dignissimos reprehenderit. Velit, aut! At amet, porro vero nobis quibusdam repudiandae culpa a quaerat eveniet sequi, quam exercitationem corporis blanditiis corrupti quos atque esse labore et ut aliquam quae velit quasi reiciendis? Natus quam exercitationem laudantium atque perferendis doloribus illo non iure id odit qui repellendus beatae assumenda, soluta minus impedit excepturi animi debitis officiis illum. Commodi impedit beatae laboriosam et repellendus eveniet voluptates! Hic officiis impedit voluptatum in odio? Aspernatur molestias iure ea rem vero libero qui sapiente aliquid quisquam, quidem enim aliquam ad quas aperiam? Et veritatis expedita sit dolore assumenda? Amet ex expedita suscipit, esse debitis sit inventore, beatae laborum laboriosam rerum quasi provident aspernatur, error illum non quisquam ipsum nobis sapiente enim! Vel temporibus laboriosam aliquam! Sunt corrupti quaerat, autem temporibus natus ipsum eaque adipisci soluta cum voluptatem. Doloremque molestias voluptates animi recusandae tempore quo at, modi omnis quod doloribus rerum quasi voluptate itaque iste perspiciatis? Earum explicabo est magni ipsam sint similique, ut culpa suscipit inventore veritatis pariatur, quidem eius vel ea, nulla temporibus non obcaecati! Ducimus necessitatibus dolorum praesentium porro quas ipsum quam, similique libero expedita atque tempora dignissimos omnis! Aliquid eveniet veniam blanditiis, ipsa dicta vero dolores alias aliquam voluptatibus aspernatur? Accusantium minima recusandae, voluptates excepturi sint repellat vero, laudantium quos mollitia vel quod est optio in velit harum non sapiente possimus officiis eos quis dolorum perspiciatis totam neque! Voluptas, pariatur cum natus sunt possimus velit rerum cumque, porro explicabo, officiis ea repudiandae quos inventore nemo? Sint sapiente incidunt quos nisi hic itaque placeat minus repellat, consectetur id nemo rerum non iusto exercitationem necessitatibus eius optio nulla beatae earum reprehenderit inventore dolor perspiciatis harum? Quasi tenetur quibusdam deleniti ipsa delectus, aut laudantium ducimus praesentium! Minus hic tempora laboriosam, vel consectetur sequi laborum, dicta inventore adipisci officiis incidunt. In numquam ratione culpa aspernatur perferendis fugiat tempore libero dolorum natus laboriosam, ipsa harum, voluptatibus, ex provident. Reiciendis, similique vitae dicta consectetur laboriosam facere esse repellat. Quia, reprehenderit odio similique, quaerat corrupti ut maiores ratione cumque eligendi iusto officiis et sapiente ex aspernatur ea illum dolores illo obcaecati fuga incidunt porro soluta ad. Aperiam vitae quos est adipisci minus repellat quo numquam, magni dolore eius eum repudiandae. Magni ullam natus distinctio maxime vitae aliquam ea saepe nisi eum tenetur temporibus, placeat at expedita odio. Quam aliquid minima minus corporis assumenda beatae rerum magnam tenetur? Voluptate, nihil.</p>
                </section>
            </section>
        </main>
        <script type="module" src="/scripts/index.js"></script>
    </body>
</html>