---

---

<nav class="nav">
    <div class="nav-header">
        <div class="nav-text">
            <img src="/logo.png" alt="Logo" class="nav-logo" />
            <h1 class="nav-title"><mark>RCCG</mark> <span>Teens</span></h1>
        </div>
        <button class="hamburger" id="hamburger"> <img src="/menu.svg" alt="RCCG Teens menu" class="ham-button"></button>
    </div>
    <nav class="sidebar" id="sidebar">
        <ul class="nav-links">
            <li class="linkk"><a href="/">Home</a></li>
            <li class="linkk"><a href="/openHeavens/">Open Heavens</a></li>
            <li class="linkk"><a href="/aboutus/">About Us</a></li>
            <li class="linkk"><a href="https://wa.link/8c1st9">Contact</a></li>
        </ul>
    </nav>
</nav>