* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans',sans-serif;
    color: #fff;
}
html {
    background-color: #000;
}
section {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
span > h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 0.8em;
}
div {
    display: flex;
    justify-content: center;
    align-content: center;
}

span > h3 {
    font-size: 1.78em;
    padding: 0.1em ;
    border-bottom:2px #fff solid;
    width: 45vw;
    margin: 0.2em;
}

.mission {
    margin: 5em;
}
.mission > p {
    margin: 1.1em;
    text-align: center;
    line-height: 24px;
}
div > p {
    text-align: center;
    line-height: 24px;
    width: 90% !important;
}
.gallery {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.gallery-set {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.gallery-set > img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 14px;
    margin:0.5em;
}