:root{
  --black:#000;
  --baseblue:#0d5669;
}

*{
  border:none;
  outline:none;
  box-sizing: border-box;
  font-family:"Poppins",sans-serif;
  color:var(--black);
}
/*Default Code*/
#app{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  height:100vh;
  overflow-x: hidden;
}
.logo-form-img{
  width:10em;
  height:10em;
  object-fit:cover;
}
.form-info{
  font-size:0.7em;
}
.form-info > a{
  color:#28bdd1;
}
/* From Uiverse.io by mahbowal */ 
.container {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: var(--baseblue);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: var(--baseblue);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}
.login-button{
  display:flex;
  justify-content: center;
  align-items: center;
}


/*Loader*/

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
  margin:0 auto;
}
.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* From Uiverse.io by akshat-patel28 */ 
.card {
  width: 75vw;
  border-radius: 28px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border:0.5px #fff solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  transform: translateY(10%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  transition: all 1s;
  opacity:0;
  margin:12px;
}
.show{
  opacity:1;
  transform: translateY(0%);
}
.cardv{
  width: 75vw;
  border-radius: 28px;
  padding: 10px 15px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border:0.5px #fff solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
  position: absolute;
  top:10%;
  transform: translateY(0%);
  opacity:0;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  margin:12px;
  z-index:10;
  transition: all 660ms;
}
.showv{
  opacity:1;
  top:18%;
  transform: translateY(18%);
}
.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #fc0c0c3a;
}
.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc0c0c48;
  border-radius: 50%;
  margin-left: 8px;
}
.icon {
  width: 17px;
  height: 17px;
  color: #d10d0d;
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}
.message-text {
  color: #D10d0d;
  font-size: 0.8em;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
  color: #555;
}
.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}
.verify-subtext{
  font-size:0.7em;
  text-align:center;
  line-height:15px;
}
.verified-btn{
  padding:18px;
  color:#fff;
  border:none;
  outline:none;
  border-radius:50px;
  background-color:var(--baseblue); 
}
.verify-img{
  width:15em;
  height:15em;
  object-fit:cover;
}
.info-card{
  width:75vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  box-shadow:inset 5px 5px 28px 28px rgba(0,0,0,0.15);
  border-radius:28px;
  padding:19px;
}
.card-text{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height:-5px;
}
.card-text > *{
  text-align: left;
  width:70%;
}
.info-card-subtext{
  color: grey;
  font-size:0.7em;
}
.card-img{
  border-radius: 14px;
  height:13vh;
  width:60%;
  object-fit:cover;
  padding:6px;
  transition:all 750ms;
}
